.version.noticia /* version checker */
{
	color: #000001;
	background-color: #D3AF49;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 684.574922118381px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	padding-bottom: 62px;
	width: 0.01px;/* should not cover content below */
}

#pu103
{
	width: 0.01px;
}

#u103
{
	z-index: 2;
	width: 235px;
	position: relative;
	margin-right: -10000px;
}

#u776-4
{
	z-index: 84;
	width: 135px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 333px;
}

#u766
{
	z-index: 73;
	width: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 627px;
}

#u728
{
	z-index: 78;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}

#u713
{
	z-index: 74;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 34px;
}

#u735
{
	z-index: 80;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u742
{
	z-index: 82;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u721
{
	z-index: 76;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 135px;
}

#u779
{
	z-index: 88;
	width: 164px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 796px;
}

#pmenuu361
{
	width: 0.01px;
	margin-top: 7px;
}

#menuu361
{
	z-index: 4;
	width: 647px;
	position: relative;
	margin-right: -10000px;
}

#u362
{
	width: 111px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u365
{
	width: 111px;
	padding-bottom: 17px;
	position: relative;
}

#u365:hover
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u365.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u368-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 25px;
}

#u365:hover #u368-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u365.MuseMenuActive #u368-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u490
{
	width: 135px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 113px;
}

#u491
{
	width: 135px;
	padding-bottom: 17px;
	position: relative;
}

#u491:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u491.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u493-4
{
	width: 85px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 25px;
}

#u491:hover #u493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u491.MuseMenuActive #u493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u511
{
	width: 174px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 250px;
}

#u512
{
	width: 174px;
	padding-bottom: 17px;
	position: relative;
}

#u512:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u512.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u515-4
{
	width: 124px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 25px;
}

#u512:hover #u515-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u512.MuseMenuActive #u515-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u532
{
	width: 120px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 426px;
}

#u535
{
	width: 120px;
	padding-bottom: 17px;
	position: relative;
}

#u535:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u535.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u536-4
{
	width: 71px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 24px;
}

#u535:hover #u536-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u535.MuseMenuActive #u536-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u553
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 548px;
}

#u554
{
	width: 99px;
	padding-bottom: 17px;
	position: relative;
}

#u554:hover
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u554.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u555-4
{
	width: 50px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 24px;
}

#u554:hover #u555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u554.MuseMenuActive #u555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u613
{
	z-index: 68;
	width: 313px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 647px;
}

#u616-4
{
	z-index: 69;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 48px;
}

#pu1190
{
	width: 0.01px;
	margin-left: -345px;
	margin-top: 1px;
}

#u1190
{
	z-index: 138;
	width: 210px;
	min-height: 98px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 415px;
}

#pu1160
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 344px;
}

#u1160
{
	z-index: 98;
	width: 628px;
	background-color: #FCEE21;
	padding-bottom: 2px;
	position: relative;
}

#u1161-4
{
	z-index: 99;
	width: 216px;
	min-height: 10px;
	background-color: transparent;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 7px;
}

#u1154-4
{
	z-index: 90;
	width: 628px;
	min-height: 48px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 15px;
	position: relative;
}

#u1157-4
{
	z-index: 94;
	width: 628px;
	min-height: 37px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u1177
{
	z-index: 103;
	width: 628px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 17px;
	position: relative;
}

#u1144
{
	z-index: 104;
	width: 628px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1169
{
	z-index: 106;
	width: 200px;
	min-height: 40px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
}

#pbuttonu1184
{
	width: 0.01px;
	margin-left: 428px;
	margin-top: 10px;
}

#buttonu1184
{
	z-index: 118;
	width: 91px;
	background-color: #DCDCDC;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#buttonu1184:hover
{
	background-color: #22A5BF;
	width: 91px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1220
{
	z-index: 119;
	width: 61px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 14px;
}

#u1185-4
{
	z-index: 120;
	width: 43px;
	min-height: 36px;
	background-color: transparent;
	font-size: 29px;
	color: #FA6900;
	letter-spacing: 1px;
	text-align: center;
	line-height: 35px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1185-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u1186-4
{
	z-index: 124;
	width: 19px;
	background-color: transparent;
	font-size: 18px;
	color: #7F7F7F;
	letter-spacing: 1px;
	text-align: left;
	line-height: 22px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 42px;
}

#buttonu1187
{
	z-index: 128;
	width: 91px;
	background-color: #DCDCDC;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	left: 104px;
}

#buttonu1187:hover
{
	background-color: #22A5BF;
	width: 91px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu1184.ButtonSelected,#buttonu1187.ButtonSelected
{
	background-color: #DCDCDC;
	width: 91px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

.growButton,.shrinkButton
{
	border-width: 0px;
	border-color: #787878;
	background-color: #3E3E3E;
	border-radius: 2px;
}

#u1217
{
	z-index: 129;
	width: 35px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 27px;
}

#u1188-4
{
	z-index: 130;
	width: 26px;
	min-height: 36px;
	background-color: transparent;
	font-size: 29px;
	color: #FA6900;
	letter-spacing: 1px;
	text-align: center;
	line-height: 35px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1188-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	width: 26px;
	margin: 0px -10000px 0px 0px;
}

#u1185-4:hover p,#u1188-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u1189-4
{
	z-index: 134;
	width: 12px;
	background-color: transparent;
	font-size: 12px;
	color: #7F7F7F;
	letter-spacing: 1px;
	text-align: left;
	line-height: 14px;
	font-family: montserrat, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 23px;
}

#u1183-11
{
	z-index: 107;
	width: 628px;
	min-height: 112px;
	background-color: transparent;
	text-indent: 15px;
	font-size: 14px;
	line-height: 17px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 26px;
	position: relative;
}

#paccordionu574
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 991px;
}

#accordionu574
{
	z-index: 35;
	width: 315px;
	padding-bottom: 0px;
	position: relative;
}

#u579
{
	z-index: 36;
	width: 315px;
	padding-bottom: 0px;
	position: relative;
}

#u580-4
{
	z-index: 37;
	width: 303px;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u580-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 303px;
	margin: 0px;
}

#u580-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 303px;
	margin: 0px;
}

#u581
{
	z-index: 41;
	width: 313px;
	padding-bottom: 2px;
	position: relative;
}

#u619
{
	z-index: 42;
	width: 314px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -1px;
}

#u629
{
	z-index: 44;
	width: 315px;
	position: relative;
}

#u633-4
{
	z-index: 45;
	width: 303px;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u580-4.AccordionPanelTabOpen,#u633-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 303px;
	margin: 0px;
}

#u633-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 303px;
	margin: 0px;
}

#u630
{
	z-index: 49;
	width: 313px;
	position: relative;
}

#u670
{
	z-index: 50;
	width: 314px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u643
{
	z-index: 52;
	width: 315px;
	position: relative;
}

#u645-4
{
	z-index: 53;
	width: 303px;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u633-4.AccordionPanelTabOpen,#u645-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 303px;
	margin: 0px;
}

#u645-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 303px;
	margin: 0px;
}

#u644
{
	z-index: 57;
	width: 313px;
	padding-bottom: 3px;
	position: relative;
}

#u699
{
	z-index: 58;
	width: 312px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u652
{
	z-index: 60;
	width: 315px;
	position: relative;
}

#u653-4
{
	z-index: 61;
	width: 303px;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u645-4.AccordionPanelTabOpen,#u653-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 303px;
	margin: 0px;
}

#u653-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 303px;
	margin: 0px;
}

#u653-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 303px;
	margin: 0px;
}

#u654
{
	z-index: 65;
	width: 313px;
	padding-bottom: 3px;
	position: relative;
}

#u706
{
	z-index: 66;
	width: 314px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u1229
{
	z-index: 139;
	width: 313px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 33px;
	position: relative;
}

#u1223
{
	z-index: 140;
	width: 313px;
	background-color: #FCEE21;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u1226-4
{
	z-index: 141;
	width: 216px;
	min-height: 10px;
	background-color: transparent;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 9px;
}

#u1232
{
	z-index: 151;
	width: 313px;
	background-color: #DCDCDC;
	padding-bottom: 14px;
	margin-left: 1px;
	margin-top: 14px;
	position: relative;
}

#u1282
{
	z-index: 157;
	width: 110px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u1235
{
	z-index: 158;
	width: 110px;
	background-color: transparent;
	position: relative;
}

#u1244
{
	z-index: 160;
	width: 110px;
	background-color: transparent;
	margin-top: 34px;
	position: relative;
}

#u1261
{
	z-index: 162;
	width: 109px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 34px;
	position: relative;
}

#pu1276-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 139px;
}

#u1276-4
{
	z-index: 168;
	width: 154px;
	min-height: 103px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1273-4
{
	z-index: 164;
	width: 154px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 40px;
	position: relative;
}

#u1270-4
{
	z-index: 153;
	width: 154px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 72px;
	position: relative;
}

#u1300
{
	z-index: 145;
	width: 628px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: -2px;
	margin-top: 36px;
	position: relative;
}

#u1301
{
	z-index: 146;
	width: 628px;
	background-color: #ADADAD;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u1302-4
{
	z-index: 147;
	width: 434px;
	min-height: 10px;
	background-color: #ADADAD;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 19px;
}

#pu1309
{
	width: 0.01px;
	margin-left: -6px;
	margin-top: 9px;
}

#u1309
{
	z-index: 152;
	width: 626px;
	height: 212px;
	background-color: #DCDCDC;
	position: relative;
	margin-right: -10000px;
	left: 6px;
}

#u1291
{
	z-index: 172;
	width: 635px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
}

#u1358
{
	z-index: 174;
	width: 619px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 15px;
}

#pu1315
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1315
{
	z-index: 175;
	width: 147px;
	background-color: transparent;
	position: relative;
}

#u1315_img
{
	margin-right: -16px;
}

#u1345-4
{
	z-index: 189;
	width: 200px;
	min-height: 103px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#pu1317
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 210px;
}

#u1317
{
	z-index: 177;
	width: 147px;
	background-color: transparent;
	position: relative;
}

#u1344-4
{
	z-index: 185;
	width: 200px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#pu1313
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 419px;
}

#u1313
{
	z-index: 179;
	width: 147px;
	background-color: transparent;
	position: relative;
}

#u1313_img
{
	margin-left: -2px;
	margin-right: -8px;
}

#u1343-4
{
	z-index: 181;
	width: 200px;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 18px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-top: 11px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

