.rss-date
{
	font-family: source-sans-pro-i3, sans-serif;
}

.rss-paragraph
{
	font-family: source-sans-pro-n4, sans-serif;
}

.rss-title
{
	font-family: source-sans-pro-n6, sans-serif;
}

.resizeText,.Volanta
{
	font-family: open-sans-n4, sans-serif;
}

#u580-4.AccordionPanelTabOpen p,#u633-4.AccordionPanelTabOpen p,#u653-4.AccordionPanelTabOpen p,#u645-4.AccordionPanelTabOpen p,#u776-4,#u368-4
{
	font-family: open-sans-n3, sans-serif;
}

#u493-4
{
	font-family: open-sans-n3, sans-serif;
}

#u515-4
{
	font-family: open-sans-n3, sans-serif;
}

#u536-4
{
	font-family: open-sans-n3, sans-serif;
}

#u555-4
{
	font-family: open-sans-n3, sans-serif;
}

#u616-4,#u580-4
{
	font-family: open-sans-n3, sans-serif;
}

#u633-4
{
	font-family: open-sans-n3, sans-serif;
}

#u645-4
{
	font-family: open-sans-n3, sans-serif;
}

#u653-4
{
	font-family: open-sans-n3, sans-serif;
}



