.version.index /* version checker */
{
	color: #000015;
	background-color: #7EAFA3;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.5999999999997px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 8px;
	padding-bottom: 77px;
	width: 0.01px;/* should not cover content below */
}

#pu103
{
	width: 0.01px;
}

#u103
{
	z-index: 2;
	width: 235px;
	position: relative;
	margin-right: -10000px;
}

#u776-4
{
	z-index: 84;
	width: 135px;
	min-height: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 333px;
}

#u766
{
	z-index: 73;
	width: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 627px;
}

#u728
{
	z-index: 78;
	width: 25px;
	position: relative;
	margin-right: -10000px;
}

#u713
{
	z-index: 74;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 34px;
}

#u735
{
	z-index: 80;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u742
{
	z-index: 82;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 102px;
}

#u721
{
	z-index: 76;
	width: 25px;
	position: relative;
	margin-right: -10000px;
	left: 135px;
}

#u779
{
	z-index: 88;
	width: 164px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 796px;
}

#pmenuu361
{
	width: 0.01px;
	margin-top: 7px;
}

#menuu361
{
	z-index: 4;
	width: 647px;
	position: relative;
	margin-right: -10000px;
}

#u362
{
	width: 111px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u365
{
	width: 111px;
	padding-bottom: 17px;
	position: relative;
}

#u365:hover
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u365.MuseMenuActive
{
	width: 111px;
	min-height: 0px;
	margin: 0px;
}

#u368-4
{
	width: 61px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 25px;
}

#u365:hover #u368-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u365.MuseMenuActive #u368-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 61px;
	margin: 0px -10000px 0px 0px;
}

#u490
{
	width: 135px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 113px;
}

#u491
{
	width: 135px;
	padding-bottom: 17px;
	position: relative;
}

#u491:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u491.MuseMenuActive
{
	width: 135px;
	min-height: 0px;
	margin: 0px;
}

#u493-4
{
	width: 85px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 25px;
}

#u491:hover #u493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u491.MuseMenuActive #u493-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 85px;
	margin: 0px -10000px 0px 0px;
}

#u511
{
	width: 174px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 250px;
}

#u512
{
	width: 174px;
	padding-bottom: 17px;
	position: relative;
}

#u512:hover
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u512.MuseMenuActive
{
	width: 174px;
	min-height: 0px;
	margin: 0px;
}

#u515-4
{
	width: 124px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 25px;
}

#u512:hover #u515-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u512.MuseMenuActive #u515-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 124px;
	margin: 0px -10000px 0px 0px;
}

#u532
{
	width: 120px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 426px;
}

#u535
{
	width: 120px;
	padding-bottom: 17px;
	position: relative;
}

#u535:hover
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u535.MuseMenuActive
{
	width: 120px;
	min-height: 0px;
	margin: 0px;
}

#u536-4
{
	width: 71px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 24px;
}

#u535:hover #u536-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u535.MuseMenuActive #u536-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 71px;
	margin: 0px -10000px 0px 0px;
}

#u553
{
	width: 99px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 548px;
}

#u554
{
	width: 99px;
	padding-bottom: 17px;
	position: relative;
}

#u554:hover
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u554.MuseMenuActive
{
	width: 99px;
	min-height: 0px;
	margin: 0px;
}

#u555-4
{
	width: 50px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 24px;
}

#u554:hover #u555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u554.MuseMenuActive #u555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u613
{
	z-index: 68;
	width: 313px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 647px;
}

#u616-4
{
	z-index: 69;
	width: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 48px;
}

#pu1071
{
	width: 0.01px;
	margin-top: 1px;
}

#u1071
{
	z-index: 93;
	width: 628px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u850
{
	z-index: 94;
	width: 610px;
	background-color: #DCDCDC;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	padding: 20px 10px 6.299999999999869px 8px;
}

#u853-4
{
	z-index: 97;
	width: 610px;
	min-height: 52px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
}

#u892
{
	z-index: 101;
	width: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 560px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u872
{
	z-index: 102;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u880
{
	z-index: 104;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u851
{
	z-index: 95;
	width: 628px;
	-webkit-transition-duration: 1s;
	-webkit-transition-delay: 0s;
	-webkit-transition-timing-function: ease;
	transition-duration: 1s;
	transition-delay: 0s;
	transition-timing-function: ease;
	background-image: url("../images/blank.gif");
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u851:hover
{
	background-color: #000000;
	width: 628px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u851:active
{
	background-color: #000000;
	width: 628px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u851_img
{
	margin-top: -19px;
	margin-bottom: -159px;
}

#u854
{
	z-index: 106;
	width: 628px;
	background-color: #FCEE21;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u855-5
{
	z-index: 107;
	width: 159px;
	min-height: 10px;
	background-color: transparent;
	font-size: 8px;
	line-height: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#accordionu574
{
	z-index: 35;
	width: 315px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 646px;
}

#u579
{
	z-index: 36;
	width: 315px;
	padding-bottom: 0px;
	position: relative;
}

#u580-4
{
	z-index: 37;
	width: 100%;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u580-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px;
}

#u580-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 303px;
	margin: 0px;
}

#u581
{
	z-index: 41;
	width: 313px;
	padding-bottom: 2px;
	position: relative;
}

#u619
{
	z-index: 42;
	width: 314px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: -1px;
}

#u629
{
	z-index: 44;
	width: 315px;
	position: relative;
}

#u633-4
{
	z-index: 45;
	width: 100%;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u580-4.AccordionPanelTabOpen,#u633-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px;
}

#u633-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 303px;
	margin: 0px;
}

#u630
{
	z-index: 49;
	width: 313px;
	position: relative;
}

#u670
{
	z-index: 50;
	width: 314px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u643
{
	z-index: 52;
	width: 100%;
	position: relative;
}

#u645-4
{
	z-index: 53;
	width: 100%;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u633-4.AccordionPanelTabOpen,#u645-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px;
}

#u645-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 303px;
	margin: 0px;
}

#u644
{
	z-index: 57;
	width: 313px;
	padding-bottom: 3px;
	position: relative;
}

#u699
{
	z-index: 58;
	width: 312px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u652
{
	z-index: 60;
	width: 100%;
	position: relative;
}

#u653-4
{
	z-index: 61;
	width: 100%;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u645-4.AccordionPanelTabOpen,#u653-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px;
}

#u653-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px;
}

#u653-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 100%;
	margin: 0px;
}

#u654
{
	z-index: 65;
	width: 313px;
	padding-bottom: 3px;
	position: relative;
}

#u706
{
	z-index: 66;
	width: 314px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#ppu1080
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: 15px;
}

#pu1080
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u1080
{
	z-index: 128;
	width: 315px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-top: 00px;
}

#u1074
{
	z-index: 129;
	width: 315px;
	background-color: #00FFFF;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u1075-5
{
	z-index: 130;
	width: 159px;
	min-height: 10px;
	background-color: #00FFFF;
	font-size: 15px !important;
	line-height: 10px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#u855-2,#u1075-2
{
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: italic;
}

#u1061
{
	z-index: 126;
	width: 313px;
	background-color: transparent;
	margin-left: 1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1096
{
	z-index: 90;
	width: 315px;
	background-color: #DCDCDC;
	padding-bottom: 0px;
	position: relative;
}

#u1096_position_content
{
	padding-top: 15px;
	padding-bottom: 8px;
	width: 100%;
}

#u1083-4
{
	z-index: 135;
	width: 315px;
	min-height: 47px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	padding-left: 10px;
}

#u1091
{
	z-index: 139;
	width: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 252px;
	margin-top: 3px;
	position: relative;
}

#u1094
{
	z-index: 140;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1092
{
	z-index: 142;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u989
{
	z-index: 91;
	width: 310px;
	background-color: #DCDCDC;
	position: relative;
	margin-right: -10000px;
	left: 328px;
}

#u989_position_content
{
	margin-bottom: -15px;
	width: 100%;
}

#u1026
{
	z-index: 114;
	width: 310px;
	background-color: #DD0707;
	padding-bottom: 4px;
	position: relative;
}

#u1029-4
{
	z-index: 116;
	width: 159px;
	min-height: 10px;
	background-color: transparent;
	font-size: 8px;
	line-height: 10px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 6px;
}

#u1016
{
	z-index: 112;
	width: 148px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 11px;
	position: relative;
}

#u935
{
	z-index: 92;
	width: 293px;
	min-height: 1571px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 14px;
	line-height: 25px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 12px;
	position: relative;
}

#pu1032
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 647px;
}

#u1032
{
	z-index: 115;
	width: 314px;
	background-color: #FF00FF;
	padding-bottom: 4px;
	margin-left: 1px;
	position: relative;
}

#u1035-4
{
	z-index: 120;
	width: 36px;
	min-height: 10px;
	background-color: transparent;
	font-size: 8px;
	line-height: 10px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 10px;
}

#u1048
{
	z-index: 124;
	width: 314px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 960px;
}

